<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  jQuery(document).ready(function() {
    var btn = $('#button_up');  
    $(window).scroll(function() {     
      if ($(window).scrollTop() > 10) {
        btn.addClass('show');
      } else {
        btn.removeClass('show');
      }
    });
    btn.on('click', function(e) {
      e.preventDefault();
      $('html, body').animate({scrollTop:0}, '10');
    });
  });
</script>
<a id="button_up"></a>  