	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/button.css">
	<link rel="stylesheet" type="text/css" href="../static/css/popup.css">
	<link rel="stylesheet" type="text/css" href="../static/css/tabs.css">
	<link rel="stylesheet" type="text/css" href="../static/css/select_list.css">
	<link rel="shortcut icon" href="../static/favicon.png" type="image/x-icon">
	<link rel="icon" type="image/x-icon" href="../static/favicon.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">